* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;   
}
body {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;   
  line-height: 1.5;
  display: flex;
  flex-direction: column;   
  background-color: #F2E2BA;  
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  
}
/*all the stuff related to my navbar is here*/
.nav-bar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin: 0;
  padding: 0.5rem 1rem;
  background-color: #BAF2BB;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;  
}

nav a {
  text-decoration: none;
  font-size: 0.9rem;
  color:black;
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

}

/*end of styling for navbar*/

/*main content styling*/
main {
  flex: 1;
  padding: 1rem;
  max-width: 600px;  
  margin: 0 auto; 
/*  background-color: #F2E2BA;  */ 
}
footer {
  text-align: center;
  padding: 1rem;
  font-size: 0.8rem;
  margin-top: 2rem;
  background-color: #F2BAC9;
}
.footer-paragraph a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}